---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Léo Constantin" description="About Léo Constantin">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			<!--
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Léo Constantin at work with a colleague"
				/>
			-->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a computer engineering student at CY-tech, with a background of two years in preparatory classes in mathematics and physics. Driven by a passion for artificial intelligence, I am currently leaning towards specializing in neuroscience after completing my engineering degree.
					</p>
					<p>
						Currently in my second year, I am on a study exchange in Colombia, further enriching my multicultural perspective. This cultural awareness has been shaped by my childhood experiences living in the Czech Republic and Spain.
					</p>
					<br>
					<p>
						In terms of professional experience, I completed a three-month internship at THALES in the Digital Identity and Security branch. There, I developed a server prototype using SpringBoot and C++ to provide a signature service based on a Post Quantum Cryptographic algorithm.
					</p>
					<br>
					<p>
						Additionally, during my preparatory project (TIPE), I created a computer simulation of crowd evacuation using a granular model, developed in Python.
					</p>
					<br>
					<p>
						Outside of my academic pursuits, I enjoy teaching and sharing knowledge as a tutor in an association for students facing educational challenges.
					</p>
					<br>
					<p>
						My medium-term goal is to merge my computer science skills with my passion for neuroscience, exploring neural modeling using vector algebra.
					</p>
					<br>
					<p>
						I am constantly eager to learn, take on new challenges, and make a meaningful contribution to the fields of technology and research.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
						<ul>
							<li>
								<strong>Since 2022 -</strong> School of Computer Engineering - CY-tech
							</li>
							<li>
								<strong>2020 to 2022 -</strong> CPGE MPSI/MP with a focus on Computer Science – Centre International de Valbonne
							</li>
						</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Office Automation</h5>
					<ul>
						<li>Office Suite</li>
						<li>PowerBI</li>
						<li>Photoshop</li>
						<li>Fusion 360</li>
					</ul>
					<br/>
					<h5>Computing Skills</h5>
					<ul>
						<li>
							Python (Intermediate)
							<ul>
								<li>matplotlib</li>
								<li>numpy</li>
								<li>scikit-fmm</li>
							</ul>
						</li>
						<li>OCaml (Intermediate)</li>
						<li>
							C/C++ (Beginner)
							<ul>
								<li>PKCS#11</li>
							</ul>
						</li>
						<li>
							Java (Intermediate)
							<ul>
								<li>Tomcat server</li>
								<li>Spring Boot</li>
								<ul>
									<li>JSON Web Token (JWT)</li>
								</ul>
							</ul>
						</li>
						<li>
							SQL (Intermediate)
							<ul>
								<li>mySQL</li>
								<li>SQL Server</li>
							</ul>
						</li>
						<li>R (Beginner)</li>
						<li>
							Shell (Beginner)
							<ul>
								<li>bash (Unix)</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
